<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
</HEAD>
<BODY LANG="ru-RU" DIR="LTR">
<TABLE WIDTH=638 CELLPADDING=7 CELLSPACING=0 STYLE="page-break-before: always">
	<COL WIDTH=197>
	<COL WIDTH=413>
	<TR>
		<TD COLSPAN=2 WIDTH=624 HEIGHT=29 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Інформаційна
			довідка</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			 <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>з
			Єдиного державного реєстру осіб, щодо
			яких застосовано положення Закону
			України «Про очищення влади»</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=624 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 15pt"><B>Інформація
			щодо:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Прізвище,
			ім</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US"><B>’</B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>я,
			по батькові:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Прізвище,
			ім</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">’</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>я,
			по батькові</FONT></FONT><FONT FACE="Courier New, serif">&gt;</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Реєстраційний
			номер облікової картки платника
			податків:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Реєстраційний
			номер облікової картки платника
			податків</FONT></FONT><FONT FACE="Courier New, serif">&gt;</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Місце
			народження:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Місце
			народження</FONT></FONT><FONT FACE="Courier New, serif">&gt;
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Дата
			народження:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Дата
			народження</FONT></FONT><FONT FACE="Courier New, serif">&gt;
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=624 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 15pt"><B>в
			Єдиному державному реєстрі осіб, щодо
			яких застосовано положення Закону
			України «Про очищення влади», відсутня</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=JUSTIFY><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Довідку
			сформовано:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>&lt;ПІБ
			особи, якою сформовано довідку&gt;</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Назва
			посади особи, що підписує документ:  </B></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western">                   <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Підпис
			                      </B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Прізвище,
			ім’я, по батькові</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="en-US" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>