{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset=utf-8">
    <link rel="stylesheet" href="{% static "css/docs.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>
<body>
 <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
              <table width="638" cellpadding="7" cellspacing="0">
                  <tr>
                      <td width="638" height="29" valign="top" colspan="3">
                          <br>
                          <p class="heading">Витяг</p>
                          <p class="heading">з Єдиного державного реєстру осіб, щодо
                              яких застосовано положення Закону України «Про очищення влади»</p>
                          <br>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Номер витягу:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                   <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Дата формування:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller" align="left"> 123577 </p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Відомості про заявника, який звернувся за наданням витягу:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="3" width="624" valign="top">
                          <p class="small-heading"> Відомості, за якими здійснювався пошук:</p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Прізвище, ім’я, по батькові:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                                    <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Реєстраційний номер облікової картки платника податків:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                                    <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Місце народження:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                                    <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Дата народження:</b></p>
                      </td>
                      <td width="413">
                          <p class="smaller"> 123577 </p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="3" width="624" valign="top">
                          <p class="small-heading"> За вказаними пошуковими відомостями в Єдиному державному
                              реєстрі осіб, щодо яких застосовано положення Закону України «Про очищення влади»,
                              інформація відсутня</p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="197" valign="top">
                          <p class="smaller"><b>Витяг сформовано:</b></p>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td width="200" valign="top">
                          <p class="smaller"><b>Назва посади особи, що підписує документ:</b></p>
                      </td>
                      <td width="150">
                          <p class="centered"> <b>Підпис</b> </p>
                      </td>
                      <td width="260">
                          <p class="smaller"> Прізвище, ім’я, по батькові </p>
                      </td>
                  </tr>
                   <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <br>
                      </td>
                  </tr>
              </table>
        </div>
      </div>
 </div>
</body>
</html>