<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
</HEAD>
<BODY LANG="ru-RU" DIR="LTR">
<P LANG="uk-UA" CLASS="western" STYLE="margin-left: 3.15in; margin-bottom: 0in">
<BR>
</P>
<TABLE WIDTH=638 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=197>
	<COL WIDTH=413>
	<TR>
		<TD COLSPAN=2 WIDTH=624 HEIGHT=29 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>Витяг</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			 <FONT FACE="Times New Roman, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>з
			Єдиного державного реєстру осіб, щодо
			яких застосовано положення Закону
			України «Про очищення влади»</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=624 HEIGHT=29 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.08in">
			<BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Номер
			витягу:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>&lt;Номер
			витягу&gt;</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Дата
			формування:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>&lt;Дата
			формування&gt;</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Відомості
			про заявника, який звернувся за наданням
			витягу:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>&lt;ПІБ
			або назва заявника, який звернувся за
			наданням витягу&gt;</FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=624 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>Відомості,
			за якими здійснювався пошук:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Прізвище,
			ім</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US"><B>’</B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>я,
			по батькові:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Прізвище,
			ім’я, по батькові</FONT></FONT><FONT FACE="Courier New, serif">&gt;</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Реєстраційний
			номер облікової картки платника
			податків:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Реєстраційний
			номер облікової картки платника
			податків</FONT></FONT><FONT FACE="Courier New, serif">&gt;</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Місце
			народження:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Місце
			народження</FONT></FONT><FONT FACE="Courier New, serif">&gt;
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Дата
			народження:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Дата
			народження</FONT></FONT><FONT FACE="Courier New, serif">&gt;
			</FONT>
			</P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=2 WIDTH=624 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
			<FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>За вказаними
			пошуковими відомостями в Єдиному
			державному реєстрі осіб, щодо яких
			застосовано положення Закону України
			«Про очищення влади», міститься така
			інформація:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Прізвище,
			ім</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US"><B>’</B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>я,
			по батькові:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif"><SPAN LANG="en-US">&lt;</SPAN></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Прізвище,
			ім</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">’</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>я,
			по батькові</FONT></FONT><FONT FACE="Courier New, serif"><SPAN LANG="en-US">&gt;</SPAN></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Місце
			народження:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">&lt;</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Місце
			народження</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">&gt;</SPAN></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Дата
			народження:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="en-US" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">&lt;</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Дата
			народження</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">
			&gt;</SPAN></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=59 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Серія
			та номер паспорта:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">&lt;</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Серія
			та номер паспорта</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">&gt;</SPAN></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=197 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><BR><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Реєстраційний
			номер облікової картки платника
			податків:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-top: 0.08in"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Courier New, serif">&lt;</FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Реєстраційний
			номер облікової картки платника
			податків</FONT></FONT><FONT FACE="Courier New, serif">&gt;</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Місце
			роботи на час застосування положень
			Закону України «Про очищення влади»:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT COLOR="#0000ff"> </FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">&lt;</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Місце
			роботи</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US">&gt;</SPAN></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Посада:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US"><I>&lt;</I></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Посада</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-US"><I>
			&gt;</I></SPAN></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Відомості
			про стан проходження перевірки:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><I><B>&lt;</B></I></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Відомості
			про стан проходження перевірки</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><I>&gt;</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Час,
			протягом якого на особу поширюється
			заборона, передбачена Законом України
			«Про очищення влади»:</B></FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western"><BR>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">&lt;</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Час,
			протягом якого на особу поширюється
			заборона</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">&gt;</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=32 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Витяг
			сформовано:</B></FONT></FONT></P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>&lt;ПІБ
			особи, якою сформовано витяг&gt;</FONT></FONT></P>
			<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P CLASS="western"><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=197 HEIGHT=30 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Назва
			посади особи, що підписує документ:  </B></FONT></FONT>
			</P>
		</TD>
		<TD WIDTH=413 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
			<P LANG="uk-UA" CLASS="western" ALIGN=RIGHT STYLE="margin-bottom: 0in">
			<BR>
			</P>
			<P LANG="uk-UA" CLASS="western">                   <FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>Підпис
			                      </B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Прізвище,
			ім’я, по батькові</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>
<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P LANG="uk-UA" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>