{% extends 'base.html' %}

{% block content %}
    <div class="row"><div class="col-sm-2"></div>
        <div class="col-sm-8">
        <form class="form" method="post" action="{% url 'search' %}">
            <div class="input-group">
                    {% csrf_token %}
                    <input type="text" class="form-control" required name="search" placeholder="Шукати..." style="color: #2980b9">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="color: #2980b9">Пошук</button>
                    </span>
                </div>
                </form>
            {% block results %} {% endblock %}
</div></div>
        <div class="col-sm-2"></div>
</div>
{% endblock %}
